@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --background-grey: #f5f5f5;
  --text-color: #333;
  --border-color: #CCCCCC;
  --error: #cc0000;
  --loading-grey: #bbbbbb;
}

body {
    font-family: 'Cormorant Garamond', serif;
    background-color: var(--background-grey);
    color: var(--text-color);
}

.layout {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.basic-button {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 1rem;
  padding: 7px 10px;
  border-radius: .25rem;
  min-height: 34px;
}

.delete-button {
  color: var(--error);
  border: 1px solid var(--error);
}

.basic-button:hover {
  border-color: var(--border-color);
  color: var(--border-color)
}

.basic-button:disabled {
  border-color: var(--border-color);
  color: var(--border-color)
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.fill-screen {
  flex-grow: 1;
}

.flex-container {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.img-color-fix {
  filter: invert(0%) sepia(0%) saturate(3616%) hue-rotate(164deg) brightness(95%) contrast(60%);
}

.main-img {
  max-width: 400px;
  width: auto;
}

.fade-in {
  animation: fade-in 5s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.margin-btm-1 {
  margin-bottom: 1rem;
}

.margin-btm-2 {
  margin-bottom: 2rem;
}

.margin-btm-3 {
  margin-bottom: 3rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-l-1 {
  margin-left: 1rem;
}

.margin-l-2 {
  margin-left: 2rem;
}

.margin-r-1 {
  margin-right: 1rem;
}

.margin-r-2 {
  margin-right: 2rem;
}

.err-text {
  color: var(--error)
}

/* Page headers and footers */
.page-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-top-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
  background-color: var(--background-grey);
}

.header-dropdown-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-grey);
}

.header-dropdown-menu > a {
  min-width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}

.header-dropdown-menu.active {
  display: flex;
}

.header-title > a {
  text-decoration: none;
  color: var(--text-color)
}

.header-top-content > h1 {
  color: var(--text-color)
}

.header-buttons-container {
  display: none;
  gap: 10px;
}

.header-dropdown-toggle-button {
  border: none;
  background: transparent;
}

.header-dropdown-toggle-button > img {
  max-width: 2rem;
}

@media screen and (min-width: 850px){
  .header-buttons-container {
    display: flex;
  }

  .header-dropdown-toggle-button {
    display: none;
  }

  .header-dropdown-menu {
    display: none;
  }

  .header-dropdown-menu > a {
    display: none;
  }
}

.page-footer {
  display: flex;
  justify-content: center;
  min-height: 50px;
  border-top: 1px solid var(--border-color);
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-link {
  min-height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color)
}

.footer-link img {
  height: 30px;
  margin-left: 10px;
}

/* Home page */

/* Top */

.home-top-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  min-height: clamp(810px, 90vh, 1000px);
}

.home-top-center {
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-top-center-content {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-top-center-content > h2 {
  font-size: 3.5rem;
}

.home-top-center-content > p {
  font-size: 1rem;
}

.home-top-center-content > img {
  margin-top: 3rem;
  max-width: 400px;
  width: auto;
}

.home-top-posts {
  padding: 2rem 1rem;
  margin-top: 2rem;
  min-height: 100%;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-top-posts > h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.top-posts-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px
}

@media screen and (min-width: 950px){
  .top-posts-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1020px) {
  .home-top-container {
    flex-direction: row;
  }

  .home-top-posts {
    border-top: none;
    border-left: 1px solid var(--border-color);
    margin-top: none;
  }

  .top-posts-list {
    flex-direction: column;
    justify-content: space-between;
  }
}

/* Home middle */


.home-middle-container {
  padding: 2rem;
  height: clamp(350px, 40vh, 600px);
}

.home-middle-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.home-middle-container  img {
  width: 300px;
}

/* Post Preview component */
.post-display-wrapper {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-display-wrapper a {
  text-decoration: none;
  color: var(--text-color);
}

.post-display-wrapper h4:hover {
  text-decoration: underline;
}

.post-display-wrapper h4 {
  text-align: center;
  margin-bottom: 1rem;
}


/* Small */

.post-display-small-wrapper {
  padding: 1rem;
  width: 300px;
  min-height: 200px;
}

.pds-author-display {
  margin-bottom: 5px;
}

/* Large */

.post-display-large-wrapper {
  padding: 1rem;
  width: 500px;
  min-height: 250px;
}

.post-display-large-wrapper h4 {
  font-size: 1.2rem;
}

.pdl-author-display {
  margin-bottom: 10px;
}

.post-display-wrapper-skeleton-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

/* Abbr */

.post-display-abbr-wrapper {
  padding: 1rem;
  width: 500px;
  /* min-height: 100px; */
  border-top: none;
  border-bottom: none;
  text-align: center;
}

/* Comment Display */
.comment-display {
  padding: 1rem;
  width: 500px;
  border-bottom: 1px solid var(--border-color);
}

.comment-display > p {
  margin-bottom: 5px;
}

.comment-display > p:last-of-type {
  margin-bottom: 15px;
  text-align: end;
}

.comment-button-div {
  display: flex;
  justify-content: space-around;
}

.comment-button-div > button {
  font-size: .8rem;
  width: 85px;
}


/* Skeleton classes */

.skeleton {
  background-color: var(--loading-grey);
  animation: content-loading 1s linear infinite alternate;
  border-radius: .15rem;
}

.skeleton-img {
  animation: content-loading 1s linear infinite alternate;
}

.skeleton-title {
  height: 1.5rem;
}

.skeleton-title-md {
  height: 1.2rem;
}

.skeleton-title-sm {
  height: 1rem;
}

.skeleton-text {
  height: .8rem;
}

.skeleton-text-sm {
  height: .6rem;
}

.skeleton-width-100 {
  width: 100%
}

.skeleton-width-80 {
  width: 80%
}

.skeleton-width-50 {
  width: 50%
}

.skeleton-width-20 {
  width: 20%
}

.header-button-skeleton {
  width: 70px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--loading-grey);
  border-radius: .25rem;
  animation: content-loading 1s linear infinite alternate;

}

@keyframes content-loading {
  0% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

/* Home bottom */

.home-bottom-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-bottom-container h3 {
  font-size: 2rem;
}

.home-bottom-post-wrapper {
  padding: 1rem 0;
  max-width: clamp(200px, 80vw, 1000px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px
}

/* FORMS, LOGIN, & REGISTER PAGE */

/* Forms */

.form-line {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.form-label {
  font-size: 1.2rem;
}

.form-input, .form-textarea {
  background-color: var(--background-grey);
  border: 1.5px solid var(--border-color);
  border-radius: .25rem;
  font-size: 1rem;
  padding: 5px 10px;
  width: 300px;
}

.form-textarea {
  resize: vertical;
}

.form-checkbox {
  padding: 0;
  accent-color: var(--background-grey);
  margin-right: 5px;
}


.checkbox-label {
  display: flex;
  align-items: center;
}

.form-line.error > .form-input {
  border-color:  var(--error);
  
}

.form-line.error > .form-input:focus {
  outline: 1px solid var(--error);
}

.form-line.error > .form-label {
  color:  var(--error);
}

.form-error-div {
  font-size: 1.2rem;
  color:  var(--error);
}

.form-description {
  font-size: .9rem;
  animation: fadeIn 0.2s ease-in
}

@keyframes fadeIn {
  0% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

.auth-form-link-div {
  margin-top: 1rem;
}

.auth-form-link-div > a{
  color: var(--text-color);
}

/* Login & register pages*/

.auth-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 2rem 1rem;
}

.auth-page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.auth-page-container img {
  max-height: 125px;
  height: auto;
}

@media screen and (min-width: 400px) {
  .auth-page-container img {
    max-height: 250px;
    height: auto;
  }
}

@media screen and (min-width: 600px) {
  .auth-page-content-wrapper {
    flex-direction: row;
    height: 350px;
  }

  .auth-page-container img {
    max-height: 350px;
    height: auto;
  }
}

.auth-form-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.auth-form-container.success {
  justify-content: flex-start;
}

.auth-form-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.auth-success-link {
  font-size: 1.1rem;
  width: 300px;
}

.auth-success-link a {
  color: var(--text-color);
}

/* POSTS */

/* All Posts */

.all-posts-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px
}

.all-posts-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.post-pagination-nav {
  display: flex;
  gap: 5px
}

.posts-pagination-btn.highlighted-btn {
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  color: var(--background-grey);
}

/* New Post */

.new-post-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.new-post-wrapper > h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.post-input {
  width: clamp(300px, 50vw, 750px)
}

.post-input.form-textarea {
  height: 200px;
}

@media screen and (min-width: 400px) {
  .post-input.form-textarea.textarea-long {
    height: 300px;
  }
}

@media screen and (min-width: 700px) {
  .post-input.form-textarea.textarea-long {
    height: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .post-input.form-textarea.textarea-long {
    height: 450px;
  }
}

.post-form-button-div {
  display: flex;
  gap: 10px
}

/* Single Post */

.single-post-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.single-post-content {
  max-width: clamp(300px, 60%, 600px);
  white-space: pre-wrap;
}

.single-post-author {
  margin-top: 1rem;
}

.single-post-epigraph-content {
  margin-top: 2rem;
}

.epigraph-text {
  font-style: italic;
}

.epigraph-author {
  margin-top: 1rem;
}

.single-post-text {
  margin-top: 3rem;
}

.post-like-btn-div {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 5px;
}

.post-like-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px 10px;
}

.post-like-btn > img {
  width: 20px
}

.post-page-break {
  border-bottom: 1px solid var(--border-color);
}

.single-post-content h3 {
  margin: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.single-post-content-skeleton {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-user-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-user-comment > form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-user-comment textarea {
  resize: vertical;
  /* background-color: var(--background-grey); */
  border: 1.5px solid var(--border-color);
  border-radius: .25rem;
  font-size: 1rem;
  padding: 5px 10px;
}

.add-user-comment button {
  align-self: flex-end;
  margin-top: 10px;
  width: 80px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-user-comment-msg {
  text-align: center;
}

.post-comments-container {
  padding: 2rem 1rem;
  gap: 1rem
}

.post-comments-container > p {
  text-align: center;
}

.post-comments-loader {
  align-self: center;
}

.post-comments-container > button {
  align-self: center;
}

.post-comment > h4 {
  font-size: 1.1rem;
  margin-bottom: 7px;
}

.post-comment > p:first-of-type {
  margin-bottom: 3px;
}

/* User & Admin Dashboard */
.dashboard-content {
  width: clamp(300px, 80vw, 800px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-display-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 80%;
  border-bottom: 1px solid var(--border-color);
}

.dashboard-display-buttons > button {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 1rem;
  border: none;
}

/* Not found page & Error Page */

.error-page {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px
}

.error-page img {
  max-width: 400px;
  width: auto;
  margin-bottom: 4rem;
}

.error-page h2 {
  font-size: 2rem;
}

.error-page p {
  font-size: 1.1rem;
}

.error-page a {
  color: var(--text-color);
}

/* Modal */

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: clamp(250px, 50vw, 400px);
  height: 350px;
  overflow: auto;
  max-height: 100%;
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  text-align: center;
}

.modal-container.modal-active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  justify-content: end;
}

.modal-close-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
}

.modal-body {
  padding: 1rem;
}

.modal-overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 8;
}

.modal-overlay.modal-active {
  opacity: 1;
  pointer-events: all;
}